body {
  font-family: sans-serif;
  display: flex;
  flex-direction: column;
  background-color: #eee;
}

p {
  max-width: 350px;
}

.character-row {
  cursor: pointer;
}

#character-detail {
  position: fixed;
  right: 0;
  padding: 25px;
  background-color: #666;
  color: white;
  font-size: 140%;
  height: 100vh;
}

.thumbnail {
  border-radius: 50%;
  margin: 15px;
  vertical-align: middle;
}

#next-page {
  cursor: pointer;
  width: 100vh;
  border-radius: 3%;
  border-width: 2px;
  padding: 1%;
  font-size: large;
}